<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">回家守护盒子 - %h</name>
  <service>
    <type>_gohome._tcp</type>
    <port>8711</port>
    <txt-record>product=gohome-box</txt-record>
    <txt-record>path=/api/lan/discovery</txt-record>
    <txt-record>version=1</txt-record>
  </service>
</service-group>
